<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Parsegen Grammar</string>
	<key>uuid</key>
	<string>2DA924FE-433A-47F9-AF97-FDF7ED537BF7</string>
</dict>
</plist>
